/* Khadija's code */
* {
  padding: 0;
  margin: 0;
}
.news-details p {
  color: #c0c0c0;
}

.details-description img {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

/* .aboutus-content {
  color: #c0c0c0;
  font-size: 0.95rem;

  @media (min-width: 1800px) and (max-width: 3000px) {
    font-size: 1.3rem;
  }
  @media (min-width: 1200px) and (max-width: 1800px) {
    font-size: 1rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    font-size: 0.85rem;
  }
  @media (min-width: 400px) and (max-width: 992px) {
    font-size: 0.95rem;
  }
  @media (min-width: 40px) and (max-width: 400px) {
    font-size: 0.95rem;
  }
} */

/* About us Section1 */
.aboutus-sec1-banner {
  height: 45vh;
  width: 100%;
  background-image: url("../../images/aboutusbanner.png");
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-width: 10px) and (max-width: 1000px) {
    height: 40vh;
  }
  @media (min-width: 550px) and (max-width: 768px) {
    height: 30vh;
  }
  @media (min-width: 350px) and (max-width: 550px) {
    height: 20vh;
  }

  @media (min-width: 10px) and (max-width: 350px) {
    height: 15vh;
  }
}

.aboutus-sec1-banner::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    transparent,
    #0c0b0b
  ); /* Adjust gradient colors and opacity as needed */
  pointer-events: none; /* Allows clicks to pass through the overlay to the content below */
}

/* About us Section 2 */
.aboutus-section2-tab {
  width: 30%;
  border-right: 1px solid rgb(192, 192, 192, 0.5);
  padding: 1rem 1rem 1rem 0;

  @media (min-width: 10px) and (max-width: 992px) {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid rgb(192, 192, 192, 0.5);
    padding: 0.5rem 0;
  }
}

.aboutus-section2-tab:last-child {
  padding-right: 0;
  border: none;
}

.aboutus-section2 {
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column;
  }
}

.abtus-section2-flex {
  @media (min-width: 767px) and (max-width: 992px) {
    width: 83%;
  }
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

/* About us Section 3 */
.aboutus-section3-facts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 6rem;
  color: #c28a6c;

  @media (min-width: 10px) and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: 10rem;
  }
}

.aboutus-section3-facttab {
  border-right: 1px solid rgb(192, 192, 192, 0.5);
  text-align: center;
  padding: 0.5rem 0;

  @media (min-width: 10px) and (max-width: 768px) {
    border-right: none;
  }
}

.aboutus-section3-facttab:last-child {
  border: none;
}

.abtus-section3-flex {
  width: 89%;
  @media (min-width: 10px) and (max-width: 1000px) {
    width: 83%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.aboutus-sec3-text {
  width: 60%;

  @media (min-width: 10px) and (max-width: 1000px) {
    width: 100%;
  }
}

.aboutus-sec3-img {
  background-image: url("../../images/TXL-Reality-images-1-2-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 470px;
  width: 35%;

  @media (min-width: 500px) and (max-width: 1000px) {
    width: 100%;
    height: 400px;
  }
  @media (min-width: 10px) and (max-width: 500px) {
    width: 100%;
    height: 350px;
  }
  @media (min-width: 1800px) and (max-width: 1900px) {
    height: 470px;
  }
  @media (min-width: 1500px) and (max-width: 1800px) {
    height: 390px;
  }
  @media (min-width: 1360px) and (max-width: 1459px) {
    height: 390px;
  }
  @media (min-width: 1160px) and (max-width: 1360px) {
    height: 430px;
  }

  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 393px;
  }
}

.aboutus-section3 {
  @media (min-width: 1000px) and (max-width: 3000px) {
    max-height: 470px;
  }
}

.aboutus-section4 {
  max-height: 800px;
}

.aboutus-section4 video {
  max-height: 800px;
}

/* About us Section5 */
.aboutus-sec5-tab-text {
  @media (min-width: 10px) and (max-width: 992px) {
    width: 100%;
  }
}

.aboutus-sec5-tab-img1,
.aboutus-sec5-tab-img2 {
  height: 250px;
  max-width: 100%;

  background-position: center;
  background-size: cover;

  @media (min-width: 10px) and (max-width: 992px) {
    width: 100%;
  }
}

.aboutus-sec5-tab-img1 {
  background-image: url("../../images/TXL-Reality-images-1-2.png");
}

.aboutus-sec5-tab-img2 {
  background-image: url("../../images/TXL-Reality-images-1.png");
}

.aboutus-sec5-tab {
  margin: 0 auto;
  margin-bottom: 3rem;
  justify-content: center;
  width: 98%;
  gap: 1rem;

  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column-reverse;
    width: 100%;
  }
}

/* Aboutus Section6 */

.section-reverse {
  flex-direction: row-reverse;
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.abtus-section6-flex {
  background-color: #121212;
  padding: 3.5rem 4.5rem;

  @media (min-width: 700px) and (max-width: 1200px) {
    padding: 2.5rem 3.5rem;
  }

  @media (min-width: 0px) and (max-width: 700px) {
    padding: 1.5rem 2.5rem;
  }
}

.abtus-section6-flex img {
  margin-top: 1rem;
}

/* Carousel */

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 0.5s ease; /* Slide animation duration and easing */
}

.carousel li {
  flex: 0 0 100%; /* Make each item take up the full width */
}

/* .carousel img {
  max-width: 100%;
  height: auto;
} */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  color: #c28a6c;
  font-size: 5rem;

  @media (min-width: 800px) and (max-width: 1200px) {
    font-size: 3.5rem;
  }
  @media (min-width: 500px) and (max-width: 800px) {
    font-size: 3rem;
  }
  @media (min-width: 10px) and (max-width: 500px) {
    font-size: 2rem;
    padding: 10px 10px;
  }
}

.prev:hover,
.next:hover {
  font-size: 6rem;
  @media (min-width: 800px) and (max-width: 1200px) {
    font-size: 4.5rem;
  }
  @media (min-width: 500px) and (max-width: 800px) {
    font-size: 4rem;
  }
  @media (min-width: 10px) and (max-width: 500px) {
    font-size: 3rem;
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-img-placeholder {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @media (min-width: 580px) and (max-width: 1000px) {
    height: 300px;
  }
  @media (min-width: 350px) and (max-width: 580px) {
    height: 200px;
  }
  @media (min-width: 200px) and (max-width: 350px) {
    height: 150px;
  }
}
.carousel-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

/* Promotion */
.promotion-carousel-img-placeholder {
  height: 648px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @media (min-width: 1800px) and (max-width: 2000px) {
    height: 520px;
  }
  @media (min-width: 1600px) and (max-width: 1800px) {
    height: 480px;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    height: 420px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    height: 380px;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 350px;
  }
  @media (min-width: 580px) and (max-width: 1000px) {
    height: 250px;
  }
  @media (min-width: 350px) and (max-width: 580px) {
    height: 150px;
  }
  @media (min-width: 200px) and (max-width: 350px) {
    height: 150px;
  }
}
.promotion-carousel-img-placeholder img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.promotion-terms-wrapper {
  background-color: transparent;
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem;
}

.promotion-terms-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  color: #c28a6c !important;
}

.promotion-terms-title button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c28a6c !important;
}

.promotion-terms-list {
  margin-top: 1.5rem;
  display: none;
}

.show-fact {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  padding: 0.3rem;
}

.term-hidden {
  display: none;
}

/* .toggle-btn {
  width: 25px;
  height: 25px;
} */
/* Contact Page */

.contact-sec1-banner {
  height: 45vh;
  width: 100%;
  background-image: url("../../images/xx.png");
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-width: 10px) and (max-width: 1000px) {
    height: 40vh;
  }
  @media (min-width: 550px) and (max-width: 768px) {
    height: 30vh;
  }
  @media (min-width: 350px) and (max-width: 550px) {
    height: 20vh;
  }

  @media (min-width: 10px) and (max-width: 350px) {
    height: 15vh;
  }
}

.contact-sec1-banner::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    transparent,
    #0c0b0b
  ); /* Adjust gradient colors and opacity as needed */
  pointer-events: none; /* Allows clicks to pass through the overlay to the content below */
}

.contact-title-wrapper {
  width: 30%;
}

.contact-form-wrapper {
  width: 70%;
}

.contact-section {
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column;
  }
}

.contact-section-flex {
  @media (min-width: 767px) and (max-width: 992px) {
    width: 83%;
  }
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

/* New for Khadija Muhammad */
/* Warranty */
.warranty-sec1-img {
  max-height: 400px;

  @media (min-width: 10px) and (max-width: 992px) {
    width: 100%;
    max-height: inherit;
  }
  @media (min-width: 1800px) and (max-width: 5000px) {
    /* max-height: 1200px; */
    max-height: 400px;
  }
}

.warranty-sec1-img img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  /* object-fit: contain; */

  @media (min-width: 10px) and (max-width: 992px) {
    max-width: 100%;
  }
}

.warranty-sec1-text {
  @media (min-width: 10px) and (max-width: 992px) {
    width: 100%;
    margin-top: 2rem;
  }
}

.warranty-section2-tab {
  width: 28.7%;
  height: 220px;
  position: relative;
  margin-top: 2%;
  margin-left: 2.3%;
  margin-right: 2.3%;
  @media (min-width: 10px) and (max-width: 1025px) {
    width: 100%;
    margin: 0.5rem 0;
    height: 120px;
    border: none;
  }
  @media (min-width: 1800px) and (max-width: 3000px) {
    height: 250px;
  }
}

.warranty-section2-tab:last-child {
  padding-right: 0;
  border-right: none;
}

.warranty-section2-tab-text {
  border-right: 1px solid rgb(192, 192, 192, 0.3);
  position: absolute;
  top: 20px;
  bottom: 50px;
  left: 0;
  padding-right: 10%;
  @media (min-width: 10px) and (max-width: 1025px) {
    border: none;
    padding: 0;
  }
}

.warranty-section2-tab-divider hr {
  width: 90%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: white;
  @media (min-width: 10px) and (max-width: 1025px) {
    border: none;
  }
}

.warranty-section2-tab-text:nth-child(2) {
  border-right: 0;
  color: red;
  border: 1px solid;
}

.no-right-border {
  border-right: none;
}

.warranty-section2-flex {
  @media (min-width: 767px) and (max-width: 992px) {
    width: 83%;
  }
  @media (min-width: 10px) and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

/* home carousel */
.carousel-img-placeholder-home {
  height: 900px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @media (min-width: 1600px) and (max-width: 1800px) {
    height: 800px;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    height: 700px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    height: 600px;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 500px;
  }
  @media (min-width: 580px) and (max-width: 1000px) {
    height: 300px;
  }
  @media (min-width: 350px) and (max-width: 580px) {
    height: 200px;
  }
  @media (min-width: 200px) and (max-width: 350px) {
    height: 150px;
  }
}

.carousel-container-home {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container-home img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 1600px) and (max-width: 1800px) {
    max-height: 800px;
  }
}

/* New Carousel of tags in modal */
.modal-tags {
  gap: 3%;
  @media (min-width: 1400px) and (max-width: 1800px) {
    gap: 2%;
  }
  @media (min-width: 1000px) and (max-width: 1400px) {
    gap: 1.5%;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    gap: 1%;
  }
  @media (min-width: 100px) and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.modal-tag-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

.modal-tag-btn:hover {
  color: #c28a6c;
  cursor: pointer;
}

.modal-tag-btn:focus {
  color: #c28a6c;
}

.carousel-img-placeholder-modal {
  width: 100%;
  overflow: hidden;
  height: 610px;

  @media (min-width: 1400px) and (max-width: 1800px) {
    height: 550px;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    height: 500px;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 450px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    height: 400px;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 350px;
  }
  @media (min-width: 580px) and (max-width: 1000px) {
    height: 250px;
  }
  @media (min-width: 350px) and (max-width: 580px) {
    height: 200px;
  }
  @media (min-width: 200px) and (max-width: 350px) {
    height: 150px;
  }
}

.carousel-img-placeholder-modal img {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  /* position: absolute; */
}
.carousel-container-modal {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.modal-carousel-text {
  padding: 1rem 2rem;
}

.carousel-modal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 0.2s ease; /* Slide animation duration and easing */
}

.carousel-modal li {
  flex: 0 0 100%; /* Make each item take up the full width */
}
.tag-hidden {
  display: none;
}

/* Modal Banner */
.absolute-details-car-banner {
  position: absolute;
  bottom: 0;
  height: 35%;
  background: linear-gradient(
    to bottom,
    transparent,
    #0c0b0b
  ); /* Adjust gradient colors and opacity as needed */
  flex-wrap: wrap !important;
  @media (min-width: 500px) and (max-width: 767px) {
    height: 90%;
    justify-content: center;
  }

  @media (min-width: 300px) and (max-width: 500px) {
    height: 100%;
    justify-content: center;
  }

  @media (min-width: 10px) and (max-width: 300px) {
    height: 100%;
    justify-content: center;
  }
}

.title-banner-modal {
  /* margin-left: 2rem; */
  margin-bottom: 1rem;
  @media (min-width: 10px) and (max-width: 767px) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.testing {
  flex-wrap: wrap;
  @media (min-width: 10px) and (max-width: 767px) {
    align-items: center;
  }

  @media (min-width: 10px) and (max-width: 450px) {
    display: none !important;
  }
}

.information-svg-modal-banner {
  height: 3rem;
  @media screen and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 1800px) and (max-width: 3800px) {
    height: 3rem;
  }
  @media (min-width: 1500px) and (max-width: 1800px) {
    height: 2.7rem;
  }
  @media (min-width: 1200px) and (max-width: 1500px) {
    height: 2.4rem;
  }
  @media (min-width: 800px) and (max-width: 1200px) {
    height: 2.4rem;
  }
  @media (min-width: 400px) and (max-width: 800px) {
    height: 2.3rem;
  }
  @media (min-width: 250px) and (max-width: 400px) {
    height: 1.5rem;
  }
  @media (min-width: 10px) and (max-width: 250px) {
    height: 1rem;
  }
}

.modal-banner-spec-container {
  @media (min-width: 10px) and (max-width: 1000px) {
    flex-direction: column;
    text-align: center;
  }
}

.header-modal-specs {
  @media (min-width: 10px) and (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

/* Home Carousel Specs */

.absolute-details-car-banner-home {
  position: absolute;
  bottom: 0;
  height: 15%;
  background: linear-gradient(
    to bottom,
    transparent,
    #0c0b0b
  ); /* Adjust gradient colors and opacity as needed */
  @media (min-width: 767px) and (max-width: 1200px) {
    height: 20%;
    justify-content: center;
  }
  @media (min-width: 500px) and (max-width: 767px) {
    height: 40%;
    justify-content: center;
  }

  @media (min-width: 10px) and (max-width: 500px) {
    height: 50%;
    justify-content: center;
  }
}

.home-carousel-specs-border {
  border-left: 1px solid white;
  @media (min-width: 10px) and (max-width: 1000px) {
    display: none;
  }
}

.specs-columns {
  width: 25%;
  @media (min-width: 10px) and (max-width: 767px) {
    width: 100%;
  }
}

.specs-columns-container {
  flex-wrap: wrap;
  @media (min-width: 10px) and (max-width: 767px) {
    align-items: center;
    margin-bottom: 2rem;
  }
}

/* news cards */
.card-cont {
  background-color: #121212;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

  @media (min-width: 1800px) and (max-width: 3000px) {
    height: 500px;
  }
  @media (min-width: 1300px) and (max-width: 1800px) {
    height: 450px;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    height: 330px;
  }
  @media (min-width: 450px) and (max-width: 767px) {
    height: 450px;
  }
  @media (min-width: 10px) and (max-width: 450px) {
    height: 340px;
  }
  @media (min-width: 10px) and (max-width: 767px) {
    margin-bottom: 2rem;
  }
  /* @media (min-width: 450px) and (max-width: 767px) {
    height: 370px !important;
  }
  @media (min-width: 10px) and (max-width: 450px) {
    height: 300px !important;
  } */

  /* margin: 1rem 0;
  height: 500px;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #121212;
  padding: 1rem;
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 400px;
  }

  @media (min-width: 767px) and (max-width: 1000px) {
    height: 400px;
  }

  @media (min-width: 450px) and (max-width: 767px) {
    height: 460px;
  }

  @media (min-width: 10px) and (max-width: 450px) {
    height: 310px;
  } */
}

.card-news-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;

  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 50%;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    height: 55%;
  }
  @media (min-width: 450px) and (max-width: 767px) {
    height: 30%;
  }
  @media (min-width: 10px) and (max-width: 450px) {
    height: 40%;
  }
}
.card-img {
  height: 300px;
  width: 100%;
  /* height: 400px; */
  overflow: hidden;

  @media (min-width: 1800px) and (max-width: 3000px) {
    height: 60%;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    /* height: 45%; */
    height: 200px;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    height: 40%;
    /* height: 200px; */
  }
  @media (min-width: 450px) and (max-width: 767px) {
    height: 70%;
  }
  @media (min-width: 10px) and (max-width: 450px) {
    height: 60%;
  }
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.text-disappear {
  /* height: 25%; */
  overflow: hidden;
  /* margin-bottom: 2rem; */

  /* @media (min-width: 1000px) and (max-width: 1200px) {
    height: 35%;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    height: 36%;
  }
  @media (min-width: 450px) and (max-width: 767px) {
    height: 40%;
  }

  @media (min-width: 10px) and (max-width: 450px) {
    height: 40%;
  } */
}
.out-line-btn-large-news {
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  height: 10%; */
}

.ptest {
  margin-bottom: 0.5rem;

  @media (min-width: 1300px) and (max-width: 3000px) {
    font-size: 22px;
    margin-bottom: 0.8rem;
  }
  @media (min-width: 1000px) and (max-width: 1300px) {
    font-size: 18px;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    font-size: 16px;
  }
  /* @media (min-width: 450px) and (max-width: 767px) {
    font-size: 20px;
  } */
  @media (min-width: 10px) and (max-width: 450px) {
    font-size: 14px;
  }
}

/* End of Khadija's code */
