* {
  padding: 0;
  margin: 0;
  font-family: "Calibri", Sans-serif;
}

/***********  CSS for Abu Dhabi Showroom Page *********/


/* 
.showroom-heading-title{
  color: #c28a6c;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (max-width: 480px) { 
    font-size: 2em;
  } 
  @media (min-width: 481px) and (max-width: 767px) { 
    font-size: 3em;
  } 
  @media (min-width: 768px) and (max-width: 1024px){ 
    font-size: 4em;
  } 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    font-size: 5em;
  } 
  @media (min-width: 1281px) { 
    font-size: 7em;
  } 
}


/***********  CSS for Dubai  Showroom Page *********/

.findshowroom-container{
  padding: 4% 10% 0% 10%;
}

.showroom-findinfo-title{
  font-size: 14px;
  color: #c0c0c0;
  margin-bottom:0px;
  font-family: Calibri;
}

.showroom-findinfo-description{
  font-size: 22px;
  color: #c28a6c;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: Calibri;
}

.findshowroom-contactdetails{
  padding: 1% 10% 0% 10%;
}

.findshowroom-contactdetails .contactdetails-text{
  color: #c0c0c0;   
  display: inline-block;
  font-size: 17px;
}

.contactdetails-text:last-child{
  text-align: left;
}

.contt1, .contt2, .contt3{
  width: 100%;
  padding-top: 1%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .findshowroom-contactdetails .contactdetails-text{
    display: flex;
  }
}

@media (min-width: 1024px) {     

    .showroom-findinfo-title{
      font-size: 1rem;
    }
    .contt1{
      width: 25%;
    }
    
    .contt2{
      width: 49.333%;
    }
    
    .contt3{
      width: 25%;
    }
    
    .contactdetails-text:last-child{
      text-align: right;
    }

    .showroom-findinfo-description{
      font-size: 2.5rem;
    }
} 

@media (min-width: 1800px) { 

    .showroom-findinfo-title{
      font-size: 2rem;
    }

    .findshowroom-contactdetails .contactdetails-text{
      font-size: 2rem;
    }

    .showroom-findinfo-description{
      font-size: 40px;
    }
}

.findshowroom-maps{
  padding: 1% 10% 0% 10%;
}

.findshowroom-maps iframe{
  width: 100%;
  height: 43vh;
}

.findshowroom-maps-getdirection{
  padding-top: 24px;
}


.findshowroom-cars-photos{
  padding: 2% 10% 0% 10%;
}

.findshowroom-cars-photos .container-fluid{ 
  padding-left: 0px;
  padding-right: 0px;
}

.fs-carImage img{
  width: 100%;
}

.carImg01{
  margin: 0px 10px 10px 0px;
}

.carImg02{
  margin: 10px 10px 10px 0px;
}


.carImg03{
  margin: 10px 10px 10px 0px;
}

.carImg04{
  margin: 0px 0px 10px 10px;
}

.findshowroom-contactdetails i{
  font-size: 25px;
  color: #c28a6c;
  padding-right: 5px;
}


/***********  Model / Exeed RX CSS - START  *********/

.model-rx-main-section{
  padding: 0% 10% 8% 10%;
}

.rx-heading-title{
  font-size: 2.5rem;
  color: #c28a6c;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5%;
}

.rx-imgcontainer img{
  max-width: 100%;
}

.rx-imgcontainer{
  padding: 0% 0% 5% 0%;
}

.model-rx-main-section .row{
  padding-bottom: 8%;
}

.rx-textcontainer {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  padding-bottom: 2rem;
}

.rx-textpara {
  color: #C0C0C0;
}

.model-rx-about-section{
  padding: 4% 10% 0% 10%;
}


@media (min-width: 320px) and (max-width: 1023px) {
  .rx-heading-title{
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px)  {
  .rx-heading-title{
    font-size: 2.3rem;
  }
  .rx-textcontainer {
    padding: 0% 5% 0% 5%;
  }
  .rx-textpara {
    font-size: 1.2rem;
  }
}

@media (min-width: 1800px)  {
  .rx-heading-title {
    font-size: 2.5rem;
    padding-bottom: 2%;
  }

  .rx-textpara{
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .rx-textcontainer{
    padding: 0% 5% 0% 5%;
  }
}


/***********  Model / Exeed RX CSS  - END  *********/
