* {
  padding: 0;
  margin: 0;
}

.showroom-heading-title{
  color: #c28a6c;
  text-align: center;
  font-family: "Calibri", Sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
   /* Media Query for Mobile Devices */ 
  @media (max-width: 480px) { 
    font-size: 2em;
  } 

   /* Media Query for low resolution  Tablets, Ipads */ 
  @media (min-width: 481px) and (max-width: 767px) { 
    font-size: 3em;
  } 

   /* Media Query for Tablets Ipads portrait mode */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
    font-size: 4em;
  } 

  /* Media Query for Laptops and Desktops */ 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    font-size: 5em;
  } 

  /* Media Query for Large screens */ 
  @media (min-width: 1281px) { 
    font-size: 7em;
  } 
}