* {
  padding: 0;
  margin: 0;
  font-family: "Calibri", Sans-serif;
}

/***********  CSS for Abu Dhabi Showroom Page *********/



.showroom-heading-title{
  color: #c28a6c;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (max-width: 480px) { 
    font-size: 2em;
  } 
  @media (min-width: 481px) and (max-width: 767px) { 
    font-size: 3em;
  } 
  @media (min-width: 768px) and (max-width: 1024px){ 
    font-size: 4em;
  } 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    font-size: 5em;
  } 
  @media (min-width: 1281px) { 
    font-size: 7em;
  } 
}


/***********  CSS for Dubai  Showroom Page *********/

.findshowroom-container{
  padding: 4% 10% 0% 10%;
}

.showroom-findinfo-title{
  font-size: 14px;
  color: #c0c0c0;
  margin-bottom:0px;
  font-family: Calibri;
}

.showroom-findinfo-description{
  font-size: 22px;
  color: #c28a6c;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: Calibri;
}

.findshowroom-contactdetails{
  padding: 1% 10% 0% 10%;
}

.findshowroom-contactdetails .contactdetails-text{
  color: #c0c0c0;   
  display: inline-block;
  font-size: 17px;
}

.contactdetails-text:last-child{
  text-align: left;
}

.contt1, .contt2, .contt3{
  width: 100%;
  padding-top: 1%;
}

@media (min-width: 280px) and (max-width: 767px) {
  .findshowroom-contactdetails .contactdetails-text{
    display: flex;
  }
}

@media (min-width: 1024px) {     

    .showroom-findinfo-title{
      font-size: 1rem;
    }
    .contt1{
      width: 25%;
    }
    
    .contt2{
      width: 49.333%;
    }
    
    .contt3{
      width: 25%;
    }
    
    .contactdetails-text:last-child{
      text-align: right;
    }

    .showroom-findinfo-description{
      font-size: 2.5rem;
    }
} 

@media (min-width: 1800px) { 

    .showroom-findinfo-title{
      font-size: 2rem;
    }

    .findshowroom-contactdetails .contactdetails-text{
      font-size: 2rem;
    }

    .showroom-findinfo-description{
      font-size: 40px;
    }
}

.findshowroom-maps{
  padding: 1% 10% 0% 10%;
}

.findshowroom-maps iframe{
  width: 100%;
  height: 43vh;
}

.findshowroom-maps-getdirection{
  padding-top: 24px;
}


.findshowroom-cars-photos{
  padding: 2% 10% 0% 10%;
}

.findshowroom-cars-photos .container-fluid{ 
  padding-left: 0px;
  padding-right: 0px;
}

.fs-carImage img{
  width: 100%;
}

.carImg01{
  margin: 0px 10px 10px 0px;
}

.carImg02{
  margin: 10px 10px 10px 0px;
}


.carImg03{
  margin: 10px 10px 10px 0px;
}

.carImg04{
  margin: 0px 0px 10px 10px;
}

.findshowroom-contactdetails i{
  font-size: 25px;
  color: #c28a6c;
  padding-right: 5px;
}


/***********  Model / Exeed RX CSS - START  *********/

.model-rx-main-section{
  padding: 0% 10% 8% 10%;
}

.rx-heading-title{
  font-size: 2.5rem;
  color: #c28a6c;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5%;
}

.rx-imgcontainer img{
  max-width: 100%;
}

.rx-imgcontainer{
  padding: 0% 0% 5% 0%;
}

.model-rx-main-section .row{
  padding-bottom: 8%;
}

.rx-textcontainer {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  padding-bottom: 2rem;
}

.rx-textpara {
  color: #C0C0C0;
}

.model-rx-about-section{
  padding: 4% 10% 0% 10%;
}


@media (min-width: 280px) and (max-width: 1023px) {
  .rx-heading-title{
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px)  {
  .rx-heading-title{
    font-size: 2.3rem;
  }
  .rx-textcontainer {
    padding: 0% 5% 0% 5%;
  }
  .rx-textpara {
    font-size: 1.2rem;
  }
}

@media (min-width: 1800px)  {
  .rx-heading-title {
    font-size: 2.5rem;
    padding-bottom: 2%;
  }

  .rx-textpara{
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .rx-textcontainer{
    padding: 0% 5% 0% 5%;
  }
}
/***********  Model / Exeed RX CSS  - END  *********/



/******************************  Financial / Lease Rate Page CSS - Start   ************************/

.financial-LeaseRate{
  padding: 0% 7.5% 0% 7.5%;
  font-family: 'Calibri';
}

.financial-LeaseRate input,select{
    width: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    transition: all .3s;
}

.finacialLease-Left{
    width: 29.50%;
    display: inline-block;
    padding: 0% 2% 0% 0%;
}

.financialCalculator, .elementor-widget-container{
  color: white;
  padding-bottom: 10px;
}

#financial-LeaseRate-carModel, #financial-LeaseRate-months{
  background-color: #0C0B0B;
  color: white;
}

#LeaseRate-calcu{
  background: #C1886D;
  color: #C1886D;
  border: 1px solid #C1886D;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

#LeaseRate-calcu:hover {
  background: #C1886D;
  color: white;
}

.elementor-widget-container{
  padding-bottom: 20px;
}

#finacialLease-price::before {
  content: "AED ";
}

#finacialLease-price::after {
  content: " / Month";
}

#finacialLease-price{
 font-size: 1rem;
}

.calcbutton-parent{
  display: inline-block;
}

.calc-price-parent{
  float: right;
}

.finacialLease-Right{
  width: 70%;
  color: wheat;
  display: inline-block;
  vertical-align:top;
}

#finleaseImage{
  max-width: 100%;
  position: relative;
  top: -40px;
}

.finacialLease-Right{
  overflow: hidden; 
  max-height: 400px;
}

#finleaseImage:hover{
  transform: scale(1.1);
  transition: transform 0.5s;

  overflow: hidden; 
}

.finacialLease__Img-wrapper {
  width: 30%;
  display: inline-block;
  margin-right: 25px;
  overflow: hidden;
}

.finacialLease__Img-wrapper img{
   height: 400px;
   position: relative;
   left: -150px;
}

.finacialLease__Img-wrapper img:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
  overflow: hidden;
}

@media (max-width: 1024px) {     
  .finacialLease-Right{
    display: none;
  }
  .finacialLease-Left{
    width: 100%;
  }
}

@media (min-width: 1921px)  {
  .finacialLease-Right{
    min-height: 55vh;
  }

  #LeaseRate-calcu {
    font-size: 25px;
    padding: 0.5rem 1rem;
  } 
  #finacialLease-price{
    font-size: 2rem;
  }
  .financial-LeaseRate-rateInfo{
    clear: both;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .finacialLease__Img-wrapper {
    width: 29%;
  }  
}
 

.showroomAddr{
  padding-top: 1rem;
}

.removelineDefaults{
    margin-bottom: 0px !important;
    line-height: 0px;
    margin-top: 0px !important;
}
/*******************************  Financial / Lease Rate Page CSS - END ****************************/



/************************************   FINANCIAL CALCULATOR - Start  **************************************/


.input-hide{
  display: none;
}

#price::before {
  content: "AED ";
}

#price::after {
  content: " / Month";
}

#calcu {
  background: #C1886D;
  color: #C1886D;
  border: 1px solid #C1886D;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

#calcu:hover {
  background: #C1886D;
  color: white;
}

.finacial-calc-Left label.text-inverse {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.finacial-calc-Left {
  width: 29.50%;
  display: inline-block;
  padding: 0% 2% 0% 0%;
}

#carModel, #modelVX, #model, #months, #modelTXL, #modelLX{
  background-color: #0C0B0B;
  color: white;
}

#total, #downPayment, #amountFinance{
  background-color: #0C0B0B;
}


@media (min-width: 280px) and (max-width: 1023px) {
  .finacial-calc-Left {
    width: 100%;
  }    
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .finacial-calc-Left label.text-inverse{
    font-size: 0.7rem;
  }
}

/************************************   FINANCIAL CALCULATOR - END  **************************************/


/*** For Navbar Sticky ***/
.main-container {
  padding-top: 100px;
}


.nav-parent {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100px;
  z-index: 99;
}

/*** For Navbar Sticky - END ***/


/*** Finance Cal - Aed font Adjustment   ******/
@media (min-width: 280px) and (max-width: 320px) {
  .finacial-calc-Left .btn-area {
    display: flex;
  }
  .calc-price-parent {  
    padding-left: 20px;
    font-size:  1rem;
    line-height: 1.2rem;
  }
}

/*** Service Calculator - Mobile Font Adjust   ******/
@media (min-width: 280px) and (max-width: 767px) {
  h2.white-sub-title {
    font-size: 0.9rem !important;
  }
}


/*** Homepage - Font overlap in Galaxy Fold  ******/
@media (min-width: 280px) and (max-width:320px) {
  .section1-home h2.banner-title-style {
    line-height: 1rem;
    font-size: 1.4rem;
  }
}  



/*** Subscribe for Updates Email Input  ******/
.newsletter-email  input[type="email"] {
  height: 43px;
  border-radius: 0px;
  font-size: 1rem;
}

.newsletter-btn{
  height: 43px;
  border-radius: 0px;
  font-size: 1rem;
}

.newsletter-text h2{
  font-weight: 700;
}

@media (min-width: 280px) and (max-width:320px) {
  .newsletter-inner {
       padding: 0rem 1rem;
  }
}  



/*** Accept / Reject Cokie Notification   - Start  ******/

.elementor-3287 .elementor-element.elementor-element-c40e8c5 {
  color: #C0C0C0;
  font-family: "Calibri", Sans-serif;
  font-size: 1.15vw;
  font-weight: normal;
}

#elementor-popup-modal-3287 .dialog-widget-content {
  background-color: #0C0B0B;
  box-shadow: 2px 8px 23px 3px rgba(0,0,0,0.2);
}


#elementor-popup-modal-3287 {
  justify-content: center;
  align-items: flex-end;
}

.elementor-popup-modal {
  display: flex;
  pointer-events: auto;
  background-color: transparent;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}

.dialog-type-lightbox {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.elementor-popup-modal .dialog-message {
  width: 640px;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  overflow: auto;
  display: flex;
}

#elementor-popup-modal-3287 .dialog-message {
  width: 79vw;
  height: auto;
}

.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 1024px){
  .elementor-3287 .elementor-element.elementor-element-aa8aa48 {
      width: 74.691%;
  }
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-3287 .elementor-element.elementor-element-c40e8c5 {
  color: #C0C0C0;
  font-family: "Calibri", Sans-serif;
  font-size: 1.15vw;
  font-weight: normal;
}

@media (min-width: 1024px){
  .elementor-3287 .elementor-element.elementor-element-f1cfe43 {
      width: 25.278%;
  }
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}

.elementor-button {
  display: inline-block;
  line-height: 1;
  background-color: #69727d;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all .3s;
}

.elementor-widget-button .elementor-button {
  background-color: #C28A6C;
}

.elementor-3287 .elementor-element.elementor-element-eed1f09 > .elementor-widget-container {
  padding: 17px 0px 0px 0px;
}

.elementor-3287 .elementor-element.elementor-element-eed1f09 .elementor-button {
  fill: #c0c0c0;
  color: var(--e-global-color-secondary);
  background-color: #C28A6C00;
  border-style: solid;
  border-color: var(--e-global-color-primary);
}

.elementor-3287 .elementor-element.elementor-element-f1cfe43.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

#elementor-popup-modal-3287 {
  z-index: 999999999999;
}

.eicon-close:before {
  content: "\e87f";
}

[class*=" eicon-"], [class^=eicon] {
  display: inline-block;
  font-family: eicons;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

#elementor-popup-modal-3287 .dialog-close-button {
  display: flex;
}

.dialog-close-button {
  cursor: pointer;
  position: absolute;
  margin-top: 15px;
  right: 15px;
  color: var(--e-a-color-txt);
  font-size: 15px;
  line-height: 1;
  transition: var(--e-a-transition-hover);
  color: white;
}

.elementor-popup-modal .dialog-close-button {
  top: 20px;
  margin-top: 0;
  right: 20px;
  opacity: 1;
  z-index: 9999;
  pointer-events: all;
}

.dialog-widget-content {
  position: absolute;
}

.elementor-column {
  position: relative;
  min-height: 1px;
  display: flex;
}

.elementor-button-link{
  cursor: pointer !important;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px;
}

.cookie-container .elementor-button-wrapper:hover{
  background-color: #C28A6C;
}

.elementor-3287 .elementor-element.elementor-element-c1aaaac {
  max-width: 100%;
}

@media (max-width: 1023px){
  .elementor-section .elementor-container {
    flex-wrap: wrap;
  }
  .elementor-3287 .elementor-element.elementor-element-c40e8c5 {
    font-size: 15px;
  }
  .elementor-widget-container {
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .elementor-3287 .elementor-element.elementor-element-f1cfe43.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }

  .dialog-type-lightbox {
    bottom: 10px;
  }
  .elementor-column {
    width: 100%;
  }

  .elementor-widget-wrap>.elementor-element {
    width: 100%;
  } 

  .elementor-align-center {
    text-align: center;
  }
}

/** Fix for Accept Button **/

@media (min-width: 1500px)  {
  .elementor-widget-wrap.elementor-element-populated {
    flex-direction: column;
    justify-content: center;
  }
}

.elementor-widget-container {
  padding: 0px;
}

.elementor-widget-container p a{
  color: #c36;
}

.elementor-widget-container p a:hover {
  color: #336;
}

/*** Accept / Reject Cokie Notification --  END ******/


